@CHARSET "ISO-8859-1";


#dropbox{
  float: left;
  width: 500px;
  height: 300px;
  margin: 10px;
  border: 1px solid #999999;
  text-align: center;
  vertical-align: middle;
  
}
#picturesbox{
  float: left;
  width: 350px;
  margin: 10px;
  border: 1px solid #999999;
}
#picturesbox > img{
  float: left;
  padding: 5px;
}

