.contenedor {
    display: flex;  
    margin: 0 auto;
    text-align: center;    
    width: 80%;  
}

.contenedor div {
    margin:5px;
    width:410px;
    border:3px solid grey;
    padding: 2px;
    box-sizing: border-box;   
}